# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Claude AI
.claude/

# OS
Thumbs.db
.DS_Store

# Temp files
~$*.xlsx
~$*.docx

# Result
.model/
.pic/
